[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain-openai = "*"
langchain = "*"
chromadb = "*"
langchain-community = "*"
pypdf = "*"
cryptography = "==3.1"
langchain-chroma = "*"
rank-bm25 = "*"
spacy = "*"
pytesseract = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.9"